* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    background-color: #00171F;
    color: white;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 2rem;
    padding: 2rem 5rem;
}
.bg-color-header {
    background-color: #FB5B0F;
    width: 24.4rem;
    height: 2rem;
}

header img {
    width: 1.5rem;
    height: 1.5rem;
}

header ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

header li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: #FB5B0F;
    padding: 0.5rem 0.2rem;
    border-radius: 50px;
}

header li:hover {
    cursor: pointer;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

/***********Main*************/
main {
    display: flex;
    width: 100vw
}

.perfil-img {
    width: 40%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-infos {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0rem 30rem 0rem 0rem;
    gap: 1rem;
}

.text-infos h1 {
    font-size: 3rem;
}

.text-infos span {
    color: #FB5B0F;
}

.text-infos p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.tecnologies {
    margin-top: 15rem;
}

.tecnologies p {
    font-size: 2rem;
    font-weight: 700;
}

.bg-color {
    background-color: #FB5B0F;
    width: 20rem;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
}

.perfil-img img{
    z-index: 10;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 5px black;
}

.Foto {
    width: 30rem;
    height: 45rem;
}

footer p {
    font-family: 'Lato', sans-serif;;
    position: absolute;
    left: 0;
    margin-bottom: 1rem;
    margin-left: 50rem;
    z-index: 10;
    bottom: 0;
}    

